* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background-color: #cfe1fc;
}

:root {
    --bg-main: #F6F8FC;
    --bg-section: #E8ECF4;
    --primary: #5B7DB1;
    --secondary: #C7D3E3;
    --text-main: #2B3340;
    --text-soft: #6E7A8A;
    --accent: #F4B860;
}

nav ul li {
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
}

nav {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-main);
    position: sticky;
    top: 0;
    background-color: var(--primary);
}
.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}
.hero-text{
    text-align: center;
    width: 500px;
    margin: auto;
}
.textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:8px;
    border-radius: 24px;
}
 button{
    padding: 6px 40px;
    font-size: 32px;
    margin: auto;
    background-color: var(--accent);
    border: none;
    color: var(--text-main);
    border-radius: 14px;
 }
 button a{
    text-decoration: none;
    color: var(--text-main);
 }
 button:hover{
    background-color: #f9bf6e;
    color: var(--bg-main);
 }
 .footer-story{
    display: flex;
    gap: 100px;
    justify-content: space-around;
 }
 .footer-story p{
    width: 680px;
    font-size: 24px;
    display: flex;
    align-items: center;
 }
.footer-story h2{
    font-size: 50px;
    width: 300px;
}

footer{
    background-color: var(--primary);
    color: var(--bg-main);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position:relative;
    height: 40vh;
    width: 100vw;
}
#textarea{
    font-size: 20px;
}